.login-page .login-form {
    width: 30%;
    padding: 20px;
    text-align: center;
    margin-left: 30%;
}

.login-page .button-section {
    margin: 15px 0px;
}

.login-page form{
    border: 1px solid #bbb;
    padding: 15px;
    border-radius: 8px;
}

.login-page mat-form-field {
    display: block;
}

.login-page .input-field {
    padding: 0px 10px;
    margin-bottom: 10px;
}

.login-page form h3 {
    margin: 10px 0px;
    font-family: "open sans";
}

.login-page .error-message {
    color: #f00;
}

.mat-form-field-infix {
    font-size: 0.9em;
}