.note-category {
    padding: 15px;
    font-family: "Open sans";
}

.note-category .error-message {
    color: #f00;
    font-size: 0.85em;
}

.note-category mat-form-field {
    display: block;
    width: 25%;
    margin-bottom: 10px;
}

.note-category .button-section {
    margin-top: 20px;
}

.note-category .button-section .cancel-button {
    margin-left: 50px;
}

.note-category .available-categories {
    margin: 30px 0px 20px;
    border: 1px solid #ccc;
    padding: 20px 20px;
    border-radius: 6px;
}

.note-category .available-categories .title {
    font-family: "Open sans";
    font-size: 1.5em;
    border-bottom: 1px solid #88544e;
    padding-bottom: 10px;
}

.note-category .available-categories li {
    font-size: 0.95em;
    margin-bottom : 15px;
    overflow:auto;
}

.note-category .available-categories li button{
    float:right;
}

.note-category .delete-category {
    font-size: 0.9em;
    color: blue;
    margin-left: 15px;
    cursor: pointer;
}

.note-category .update-category {
    font-size: 0.9em;
    color: blue;
    margin-left: 20px;
    cursor: pointer;
}