<div class="note-reminder">
    <h3>Note Reminder</h3>

    <p *ngIf="errorMessage" class="error-message">
      <strong>{{errorMessage}}</strong>
    </p>

    <form [formGroup]="reminderForm">
        <mat-form-field>
            <input type="text" name="reminderName" matInput formControlName="reminderName" placeholder="Name" autocomplete="off">
            <mat-error *ngIf="reminderForm.get('reminderName').invalid">Name is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="text" name="reminderDescription" matInput formControlName="reminderDescription" placeholder="Description" autocomplete="off">
            <mat-error *ngIf="reminderForm.get('reminderDescription').invalid">Description is required.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="text" name="reminderType" matInput formControlName="reminderType" placeholder="Type" autocomplete="off">
            <mat-error *ngIf="reminderForm.get('reminderType').invalid">Type is required.</mat-error>
        </mat-form-field>


        <div class="button-section">
            <button mat-raised-button mat-primary color="primary" type="button" (click)="reminderEditId ? updateReminder(reminderForm) : createReminder(reminderForm)">Submit</button>
            <button mat-raised-button mat-primary color="primary" class="cancel-button" type="button" [routerLink]="['/dashboard']">Cancel</button>
        </div>
    </form>


    <div class="available-reminders" *ngIf="reminderList && reminderList.length">
      <div class="title">Available Reminders</div>

      <ul>
        <li class="remainder-list" *ngFor="let reminder of reminderList">
          {{reminder.reminderName}} - {{reminder.reminderType}} ({{reminder.reminderDescription}})
          <button mat-stroked-button class="update-reminder" (click)="editReminder(reminder)">Update Reminder</button>
          <button mat-stroked-button class="delete-reminder" (click)="deleteReminder(reminder)">Delete Reminder</button>
          <span></span>
        </li>
      </ul>
    </div>
</div>